# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editors
.vscode/
.idea/
*.swp
*.swo
*~

# Node (即使不用 npm, IDE 可能也会生成)
node_modules/
npm-debug.log
yarn-error.log

# Logs
*.log

# OS temp
.Trashes
ehthumbs.db
Thumbs.db
